<!DOCTYPE HTML>
<html>
	<head>
		<title> How was your day? </title>
		<!-- Worry about tab icon for later, need domain -->
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet1" type="text/css" href="/static/stylesheet1.css">
	</head>
	<body>
	    <div class="top"> </div>
			<h1 id="title"> How was your day? </h1>
		<div class= "question">
    		<h3 id="question"> Please, tell us how your day was here: </h3>
				<form method="post" action="/form_hit">
					<textarea wrap:"hard" id="rant" name="rant_text" placeholder="{{rant_text}}"></textarea><br>
					<input type="submit" value="Submit">
				</form>
    	</div>
    	<div class="response">
			<h3 id="response"> Here are my thoughts... </h3>
            <textarea id="answer" wrap:"hard" readonly>{{ response_text }} </textarea>
		</div>
		<div class="bottom"></div>
	</body>
</html>
