<DOCTYPE HTML>
<html>
	<head>
		<title> How was your day? </title>
		<!-- Worry about tab icon for later, need domain -->
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/static/stylesheet1.css">
	</head>

	<body>
	    <div class="top"> </div>
			<h1 id="title" style=font-size: 50px> How was your day? </h1>
		<div class= "question">
    		<h3 id="question"> Please, tell us how your day was here: </h3>
				<form method="post" action="/form_hit">
					<input type="textarea" id="rant" name="rant_text" placeholder="{{rant_text}}"><br>
					<input type="submit" value="Submit">
				</form>
    	</div>
    	<div class="response">
			<h3 id="response"> Here are my thoughts... </h3>
            <textarea rows="5" cols="10" id="answer">
            {{ rant_text }}
            </textarea>
		</div>
		<div class="bottom"></div>
	</body>
</html>
